In [3]:
#引入并调用库函数
#用于统计学数据分析
import pandas as pd
#用于数据科学计算
import numpy as np
#绘图
import matplotlib.pyplot as plt
#用于数据分析包装，便于别人理解，很少使用
import tkinter
import tkinter.messagebox
#几乎不用
import sys
#绘图，图形分割
import matplotlib.gridspec as gridspec
#日期包数据处理
import datetime
#几乎是标配，绘图时显示中文，防止出现乱码
plt.rcParams['font.family'] = ['Arial Unicode MS','Microsoft Yahei','SimHei','sans-serif']
plt.rcParams['axes.unicode_minus'] = False

In [2]:
#项目利用的主要函数
#产生随机数据框,8行12列，随机数据范围0~120
a1 = pd.DataFrame(np.random.randint(0,121,(8,12)))
a1

     0    1    2   3    4    5    6    7    8    9   10  11
0   62   26   92   0   23   43  106   77   74   91  110  88
1   56   77   11  73   24   74   52   69   86   52   71   8
2   18   44    1  23   70   12   57  107   61    5   11  92
3   25   42  102  29   97   50   33   95   61   71   83  83
4   18   58   80  15  100   50   93   61   97   98  100  34
5   57  100   10  79  106  100   43   12   89   91   90  37
6   14   76   57  96   92   31    2  119   82   93   49   4
7  119   11   47  57  120   11   25   58  108  101    1  52

In [3]:
#将数据按照第三列进行排序，整行移动
a1.sort_values(by = 3)

     0    1    2   3    4    5    6    7    8    9   10  11
0   62   26   92   0   23   43  106   77   74   91  110  88
4   18   58   80  15  100   50   93   61   97   98  100  34
2   18   44    1  23   70   12   57  107   61    5   11  92
3   25   42  102  29   97   50   33   95   61   71   83  83
7  119   11   47  57  120   11   25   58  108  101    1  52
1   56   77   11  73   24   74   52   69   86   52   71   8
5   57  100   10  79  106  100   43   12   89   91   90  37
6   14   76   57  96   92   31    2  119   82   93   49   4

In [4]:
#通过随机字典创建数据
eer = {'data_col' + str(m):np.random.randn(10) for m in range(6)}
eer.update(datakey1 = np.random.randint(2,5,10),datakey2 = np.random.randint(5,8,10))
fr2 = pd.DataFrame(eer)
fr2

,data_col0,data_col1,data_col2,data_col3,data_col4,data_col5,datakey1,datakey2
0,0.686693,1.987583,1.165901,-0.846229,1.007688,1.369969,3,7
1,0.275092,-1.095368,-0.210163,-0.930349,-1.864777,0.108896,3,5
2,-0.432695,-2.608542,-0.735858,1.912738,-1.545208,-0.221690,4,7
3,0.211110,0.711374,-0.156117,0.499602,-1.155359,1.272715,3,6
4,1.272749,0.759864,-0.989606,-0.795256,-1.705030,-0.835751,4,5
5,0.126627,-0.433559,0.086924,0.925423,-0.277364,-0.504952,4,5
6,0.098383,0.431579,-0.491909,-1.019337,0.627443,-0.173982,3,7
7,0.463463,0.516850,0.327059,-0.601609,-0.438172,-1.360249,2,7
8,0.257315,1.949882,-0.276594,-1.798369,-1.557018,-0.325951,3,5
9,-0.963685,1.242822,-0.095564,0.664881,0.105154,-0.741209,2,7

In [8]:
#根据datakey1进行分组，列表显示
list(fr2.groupby(fr2['datakey1']))

[(2,
     data_col0  data_col1  data_col2  data_col3  data_col4  data_col5  datakey1  \
  1   0.326375  -0.013435  -0.609320   1.707934   0.972100  -0.810561         2
  6  -0.139683   0.294300   0.105883  -0.666763  -0.709866  -0.494427         2
  7  -0.845264  -1.275807   0.342516   1.845028   0.202850   1.243324         2

     datakey2
  1         6
  6         6
  7         7  ),
 (3,
     data_col0  data_col1  data_col2  data_col3  data_col4  data_col5  datakey1  \
  3   0.329059  -0.754667   1.038789  -0.708545   0.993164   0.551953         3
  5  -0.814277   0.199004   0.134029   0.960690   0.617099  -1.713816         3
  8   1.342541  -1.785449  -1.876384   1.044312  -0.790494  -0.470362         3
  9   0.582493  -0.508067   0.424330  -0.154009  -0.535221   0.445281         3

     datakey2
  3         5
  5         6
  8         5
  9         7  ),
 (4,
     data_col0  data_col1  data_col2  data_col3  data_col4  data_col5  datakey1  \
  0  -0.458442  -0.589414  -0.419382  -1.430070  -0.162451  -0.769703         4
  2  -1.181583   0.150252   1.256931   1.021565   1.409391   1.999219         4
  4   0.546201  -0.099860  -1.092822   0.611623  -1.642180   0.727815         4

     datakey2
  0         6
  2         5
  4         6  )]

In [5]:
#根据datakey1进行分组，列表显示data_col2列的数据
list(fr2.groupby(fr2['datakey1'])['data_col2'])

[(2,
  7    0.327059
  9   -0.095564
  Name: data_col2, dtype: float64),
 (3,
  0    1.165901
  1   -0.210163
  3   -0.156117
  6   -0.491909
  8   -0.276594
  Name: data_col2, dtype: float64),
 (4,
  2   -0.735858
  4   -0.989606
  5    0.086924
  Name: data_col2, dtype: float64)]

In [10]:
#使用分组聚合，将第二列数据相加
fr2.groupby(fr2['datakey1'])['data_col2'].sum()

datakey1
2   -0.160921
3   -0.279236
4   -0.255273
Name: data_col2, dtype: float64

In [6]:
#读取数据并对数据做基本了解
#读取数据
data0 = pd.read_excel(r'/Users/wugenqiang/Desktop/projects/NoteBook/Python/dataset/01-wine_sales_data_20182019.xlsx',sheet_name='Sheet1')

In [7]:
data0

,ID,日期,商品名称,价格,近30天销量（瓶）,评论数,品牌,被搜索次数
0,537013830676,201902,江小白品鉴酒更多优惠请见详情页非卖品请勿下单！,29.0,121,67514.0,江小白,3538
1,525501233363,201902,牛栏山 46度二锅头500mL*12整箱（绿瓶）装 清香型,78.0,8027,26144.0,牛栏山,2473
2,540011154689,201902,泸州老窖 泸州原浆柔和 52度 500mL 白酒浓香型,20.0,3116,25921.0,泸州老窖,82010
3,43211682074,201902,红星二锅头酒大二绿瓶56度 500ml清香型白酒酒厂直供,13.0,8703,22575.0,红星,3371
4,521710025064,201902,52度洋河海之蓝 480mlx2瓶 绵柔型白酒 猫超配送 酒厂直供,326.0,7165,21535.0,洋河,17141
...,...,...,...,...,...,...,...,...
8136,43242702173,201805,【天猫超市】五粮液 绵柔尖庄 红标50度500ml 正品白酒 浓香白酒,69.0,8,NaN,五粮液,77264
8137,521062915065,201805,【天猫超市】景芝 景芝老窖 46度500ml 浓香型白酒 山东名酒,29.0,16,NaN,景芝,2435
8138,43066022456,201805,【天猫超市】53度茅台迎宾酒（2013款）500ml*6瓶整箱酒厂直供,408.0,1,NaN,茅台,15658
8139,538926498510,201805,【天猫超市】安达情闷倒驴45度白大闷500ml*12清香型白酒整箱装,108.0,1,NaN,安达情,3117
8140,525891954625,201805,【天猫超市】金六福双福星52度475mL浓香型白酒中国人的福酒,29.0,2,NaN,金六福,2602

In [7]:
#把整数字符串转化为日期
data0['日期'] = pd.to_datetime(data0['日期'], format = '%Y%m')

In [12]:
data0

,ID,日期,商品名称,价格,近30天销量（瓶）,评论数,品牌,被搜索次数
0,537013830676,2019-02-01,江小白品鉴酒更多优惠请见详情页非卖品请勿下单！,29.0,121,67514.0,江小白,3538
1,525501233363,2019-02-01,牛栏山 46度二锅头500mL*12整箱（绿瓶）装 清香型,78.0,8027,26144.0,牛栏山,2473
2,540011154689,2019-02-01,泸州老窖 泸州原浆柔和 52度 500mL 白酒浓香型,20.0,3116,25921.0,泸州老窖,82010
3,43211682074,2019-02-01,红星二锅头酒大二绿瓶56度 500ml清香型白酒酒厂直供,13.0,8703,22575.0,红星,3371
4,521710025064,2019-02-01,52度洋河海之蓝 480mlx2瓶 绵柔型白酒 猫超配送 酒厂直供,326.0,7165,21535.0,洋河,17141
...,...,...,...,...,...,...,...,...
8136,43242702173,2018-05-01,【天猫超市】五粮液 绵柔尖庄 红标50度500ml 正品白酒 浓香白酒,69.0,8,NaN,五粮液,77264
8137,521062915065,2018-05-01,【天猫超市】景芝 景芝老窖 46度500ml 浓香型白酒 山东名酒,29.0,16,NaN,景芝,2435
8138,43066022456,2018-05-01,【天猫超市】53度茅台迎宾酒（2013款）500ml*6瓶整箱酒厂直供,408.0,1,NaN,茅台,15658
8139,538926498510,2018-05-01,【天猫超市】安达情闷倒驴45度白大闷500ml*12清香型白酒整箱装,108.0,1,NaN,安达情,3117
8140,525891954625,2018-05-01,【天猫超市】金六福双福星52度475mL浓香型白酒中国人的福酒,29.0,2,NaN,金六福,2602

In [13]:
#显示部分数据，使用数据之前记得先拷贝，保留原文件
data1 = data0.copy()
data1.head(3)

,ID,日期,商品名称,价格,近30天销量（瓶）,评论数,品牌,被搜索次数
0,537013830676,2019-02-01,江小白品鉴酒更多优惠请见详情页非卖品请勿下单！,29.0,121,67514.0,江小白,3538
1,525501233363,2019-02-01,牛栏山 46度二锅头500mL*12整箱（绿瓶）装 清香型,78.0,8027,26144.0,牛栏山,2473
2,540011154689,2019-02-01,泸州老窖 泸州原浆柔和 52度 500mL 白酒浓香型,20.0,3116,25921.0,泸州老窖,82010

In [14]:
#查看数据集的基本信息
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8141 entries, 0 to 8140
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         8141 non-null   int64
 1   日期         8141 non-null   datetime64[ns]
 2   商品名称       8141 non-null   object
 3   价格         8141 non-null   float64
 4   近30天销量（瓶）  8141 non-null   int64
 5   评论数        7081 non-null   float64
 6   品牌         8141 non-null   object
 7   被搜索次数      8141 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(3), object(2)
memory usage: 508.9+ KB

In [8]:
class wine_data_analysis(object):
    def __init__(self, input_data):
        pass
        
        
    # 数据预处理函数，建立合格的数据模型
    def data_preprocess(self):
        global data1
        # 数据去重
        data1.drop_duplicates(inplace=True)
        # 价格数据列的数据逻辑性检验
        data1.drop(index=data1[data1['价格']<=0].index.tolist(), inplace=True)
        # 用特殊值‘-1’对‘评论数’数据列进行补值
        data1.loc[data1['评论数'].isnull(),'评论数'] = -1
        answer1=tkinter.messagebox.askokcancel('提示', '数据预处理完毕，继续点确定')
        
        
    # 产品季节性分析   
    def prod_seasonal_analysis(self):
        global data1
        # 画布分割
        plt.figure(0,dpi=150, figsize=(30, 21))
        gs = gridspec.GridSpec(4, 4)
        pic_1 = plt.subplot(gs[0, 0])
        pic_2 = plt.subplot(gs[1, 0])
        pic_3 = plt.subplot(gs[2, 0])
        pic_4 = plt.subplot(gs[3, 0])
        pic_5 = plt.subplot(gs[3, 1])
        pic_6 = plt.subplot(gs[3, 2])
        pic_7 = plt.subplot(gs[3, 3])
        pic_8 = plt.subplot(gs[2, 3])
        pic_9 = plt.subplot(gs[1, 3])
        pic_10 = plt.subplot(gs[0, 3])
        pic_total = plt.subplot(gs[0:3, 1:3])
        for pics, brand_list in zip([pic_1, pic_2, pic_3, pic_4, pic_5, pic_6, pic_7, pic_8, pic_9, pic_10], 
                                    np.array(list(set(data1['品牌']))).reshape(10, 5)):
            for brands in brand_list:
                (data1.loc[data1['品牌'] == brands]).groupby('日期')['近30天销量（瓶）'].sum().plot(ax=pics, label=brands, legend=True, alpha=0.5)
        data1_total = data1.groupby('日期')['近30天销量（瓶）'].sum()
        data1_total.plot(kind='line', ax=pic_total, label='各类白酒总销量', legend=True, alpha=0.5)
        plt.bar([str(date) for date in data1_total.index], data1_total.tolist(), width=8)
        plt.title('各品类产品销售趋势图和所有品类总销售趋势图')
        tkinter.messagebox.showinfo('结论：', '(1)产品销量几乎都与季节十分相关，春、冬两季是白酒销售旺季，夏、秋相反。\n(2)产品不同，销量波动幅度有所不同，但波动几乎同步。')
    
    
    # 产品潜力分析
    def potential_prod(self):
        global data1
        # 首先对产品的搜索次数进行排名
        data_groupby1 = data1.groupby('品牌')['近30天销量（瓶）', '评论数', '被搜索次数'].sum()
        # 选择搜索次数排名前15名的产品
        data_groupby2 = data_groupby1.sort_values('被搜索次数', ascending=False).iloc[:20, :]
        potential_prod_name = (data_groupby2.sort_values(['评论数', '近30天销量（瓶）']).iloc[:12,:].index).tolist()
        tkinter.messagebox.showinfo('结论：', '潜力产品是：' + ','.join(potential_prod_name))
        
        
    # 带来销量的产品    
    def main_sold_product(self):
        global data1
        # 确定带来大部分销量的产品
        main_sold_prod = data1.groupby('品牌')['近30天销量（瓶）'].sum().sort_values(ascending=False)[:10].index.tolist()
        # 主销产品品类的总销量占所有产品品类总销量的比例
        main_prod_proportion = str(np.round(data1.groupby('品牌')['近30天销量（瓶）'].sum().sort_values(ascending=False)[:10].sum()/  
                               (data1.groupby('品牌')['近30天销量（瓶）'].sum()).sum(),4)*100) + '%'
        tkinter.messagebox.showinfo('结论：', '带来销量的主要产品是：' + ','.join(main_sold_prod) 
                                    + ',这些主销产品带来的销量占总销量的' + main_prod_proportion)
        
        
    # 确定销售变化起伏大的产品    
    def sales_hight_var_prod(self):
        global data1
        sales_highvar_prod = data1.groupby('品牌')['近30天销量（瓶）'].std().sort_values(ascending=False)[:9].index.tolist()
        pic1, axes1 = plt.subplots(3, 3, dpi=120, figsize=(16, 12))
        for pic_index, item_prods in zip([(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)], sales_highvar_prod):
            data1.loc[data1['品牌'] == item_prods].groupby('日期')['近30天销量（瓶）'].sum() \
            .plot(legend=True, label=item_prods, ax=axes1[pic_index[0], pic_index[1]])
        tkinter.messagebox.showinfo('结论：', '销售变化起伏大的产品是：' + ','.join(sales_highvar_prod))
        
    
    # 最受欢迎的价格范围
    def price_volume(self):
        global data1
        # 组名
        group_name = ['(' + str(intval.left) + ', ' + str(intval.right) + ']' for intval in pd.cut(data1['价格'], bins=10, 
                      right=False, include_lowest=True).values.categories.tolist()]
        data2 = data1.copy()
        data2['价格'] = pd.cut(data1['价格'], bins=10, right=False, include_lowest=True).values.codes
        # 组高
        hight1 = data2.groupby('价格')['近30天销量（瓶）'].sum().reindex(range(10), fill_value=0).tolist()
        Sales = pd.Series({name : value for name, value in zip(group_name, hight1)})
        pic2, axes2 = plt.subplots(1, 1, dpi=120, figsize=(20, 8))
        axes2.bar(group_name, hight1)
        tkinter.messagebox.showinfo('结论：', str(group_name[0]) + ' : ' + str(Sales[0]) + '\n' + str(group_name[1]) + ' : ' + str(Sales[1]) + '\n' + str(group_name[2]) + ' : ' + str(Sales[2]) + '\n' + str(group_name[3]) + ' : ' + str(Sales[3])
                                    + '\n' + str(group_name[4]) + ' : ' + str(Sales[4]) + '\n' + str(group_name[5]) + ' : ' + str(Sales[5]) + '\n' + str(group_name[6]) + ' : ' + str(Sales[6]) + '\n' + str(group_name[7]) + ' : ' + str(Sales[7])
                                    + '\n' + str(group_name[8]) + ' : ' + str(Sales[8]) + '\n' + str(group_name[9]) + ' : ' + str(Sales[9]))
     
    
    # 最受欢迎的产品规格   
    def best_product_specification(self):
        global data1
        tkinter.messagebox.showinfo('提示：', '即将输出各产品最受欢迎的规格，请点击确定输出')
        print( data1.groupby(['品牌'])['近30天销量（瓶）', '商品名称'].max().loc[:, '商品名称' : '商品名称'])

In [9]:
# 程序简单封装
root=tkinter.Tk()
root.title('白酒数据分析')
root.geometry('600x350')
root.resizable(False, False)
ws = wine_data_analysis(data1)
aniu0 = tkinter.Button(root, text='Data Preprocess', activebackground='#96CDCD', width=25, relief='raised', command=ws.data_preprocess).grid(row=0, padx=200, pady=10)
aniu1 = tkinter.Button(root, text='Product Seasonal Analysis', activebackground='#96CDCD', width=25, relief='raised', command=ws.prod_seasonal_analysis).grid(row=1, padx=200, pady=10)
aniu2 = tkinter.Button(root, text='Potential Products Mining', activebackground='#96CDCD', width=25, relief='raised', command=ws.potential_prod).grid(row=2, padx=200, pady=10)
aniu3 = tkinter.Button(root, text='Main Sold Product', activebackground='#96CDCD', width=25, relief='raised', command=ws.main_sold_product).grid(row=3, padx=200, pady=10)
aniu4 = tkinter.Button(root, text='High Variability On Sales', activebackground='#96CDCD', relief='raised', width=25, command=ws.sales_hight_var_prod).grid(row=4, padx=200, pady=10)
aniu5 = tkinter.Button(root, text='Price impact Sales Volume', activebackground='#96CDCD', relief='raised', width=25, command=ws.price_volume).grid(row=5, padx=200, pady=10)
aniu6 = tkinter.Button(root, text='best product specification', activebackground='#96CDCD', relief='raised', width=25, command=ws.best_product_specification).grid(row=6, padx=200, pady=10)
#aniu0.pack() aniu0.flash() aniu1.pack() aniu1.flash() aniu2.pack() aniu2.flash() aniu3.pack() aniu3.flash() aniu4.pack() aniu4.flash()
root.mainloop()

NameError: name 'data1' is not defined